snippet "if " "" brA
if($1){
	$2
}
endsnippet

snippet "else " "" brA
else{
	$1
}
endsnippet

snippet "elif " "" brA
else if($1){
	$2
}
endsnippet

snippet "while " "" brA
while($1){
	$2
}
endsnippet

snippet "for " "" brA
for($1; $2; $3){
	$4
}
endsnippet

