

snippet (fun "Function" i
(function($1) {
	$0
});
endsnippet

snippet func "Function" w
function $1($2) {
	$0
}
endsnippet

snippet jq "JQuery start" b
$(document).ready(function() {
	$0
});
endsnippet

snippet a "Alert" b
alert(${1:"$2"});$0
endsnippet

