
snippet sn
snippet $1 "$2" $3
$4
endsnippet``
endsnippet

snippet eol "" 
context "eol(snip)"
snippet $1 "$2" $3
$4
endsnippet``
endsnippet

snippet g "" 
global !p
from vim_hl037.UltiSnips import *
endglobal
endsnippet
