
snippet sec "section" b
\section{$1}
$0
endsnippet

snippet ssec "sub section" b
\subsection{$1}
$0
endsnippet

snippet sssec "sub sub section" b
\subsubsection{$1}
$0
endsnippet

snippet b "begin" b
\begin{$1}
	$0
\end{$1}
endsnippet

snippet em "emph" w
\emph{$1}$0
endsnippet
