extends html, css, javascript


snippet vue "" 

<style scoped lang="scss">

</style>

<template>
	
</template>

import { ref, reactive, computed, watch, onMounted, onBeforeMount } from '@vue/composition-api'

<script>
export default {
	name : '`!p
snip.rv = re.sub(r'\.vue$', '', fn)
`',
	setup(props) {
		const r = {}

		return r
	}
}
</script>

endsnippet
