
snippet "if " "if" brA
if $1 ; then
	$2
fi
endsnippet

snippet "for " "for" brA
for $1 in $2; do
	$3
done
endsnippet

snippet "while " "while" brA
while $1; do
	$2
done
endsnippet

snippet a "alias" b
alias $1="$2"
endsnippet
